[user]
	email = zealjagannatha@gmail.com
    name = Zeal Jagannatha
[push]
    default = simple
[alias]
    d = diff
    ci = commit
    co = checkout
    partial = commit -am 'PARTIAL'
    st = status
    s = status -s
    ff =  pull --ff-only
    up = pull --rebase
    sl = log --pretty=format:\"%Cblue%h%d%Creset %ar %Cgreen%an%Creset %s\" --graph
    id = rev-list -n1 HEAD
